<%= div_for comment, class: "#{comment}" do %>
  <h4 class="comment-author"><%= sanitize(comment.user.email) %></h4>
  <span class="date"><small><%= time_ago_in_words(comment.created_at) %> ago</small></span>
  
  <p class="comment-content"><%= sanitize(comment.description) %></p>
  <% if current_user && current_user.id == comment.user_id %>
      <%= link_to '', bug_comment_path(comment.bug, comment), method: :delete, data: { confirm: 'Delete comment?' },
                  class: 'glyphicon glyphicon-trash text-danger', id: "#{comment.id}_delete", remote: true,
                  title: 'Delete comment', rel: 'tooltip' %>
  <% end %>
<% end %>
 